@media screen and (max-width:430px) {
    .nav-menu {
        display: none;
    }

    .hero-section .container .banner img {
        display: none;
    }

    .nav-logo img {
        width: 84px;
        height: 38px;
        margin-left: 30%;
    }
}

@media screen and (min-width:431px) {
    .banner-for-mobile {
        display: none;
    }
}